spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    fail-on-missing-locations: true
    locations: classpath:db/migration
    baseline-on-migrate: true

    jpa:
      hibernate:
        ddl-auto: validate
      properties:
        hibernate:
          temp:
            use_jdbc_metadata_defaults: false

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG