spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    # Desativa qualquer verificação de banco pelo Hibernate
    generate-ddl: false
    flyway:
      enabled: true
      # Se o Flyway não achar scripts, ele vai dar erro agora (melhor para debugar)
      fail-on-missing-locations: true
      locations: classpath:db/migration

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    org.flywaydb: DEBUG
    org.springframework.boot.autoconfigure.flyway: DEBUG